body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f9eed9;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}
input {
  font-family: 'Work Sans', sans-serif;
}
p {
  margin: 0;
}

/*
*****************
  Book Styles
*/

#book-list-container {
  width: 980px;
  margin: 0 auto;
}

.image-wrapper img {
  display: block;
  margin: 0 auto;
}

.image-wrapper h5 {
  text-align: center;
  margin: 6px 0px;
}

.image-wrapper p {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #797979;
  margin: 6px 0px;
}

.image-wrapper {
  max-height: 250px;
  position: relative;
  z-index: 1;
  min-height:225px;
  margin-bottom: 20px;
}

.info-container {
  position: absolute;
  max-height: 250px;
  min-height: 225px;
  z-index: 2;
  width: 100%;
  opacity: 0;
  transition: opacity .25s, transform 2s;
}

.info-container:hover {
  opacity: 1;
  border: 1px solid #aaa;
  background: rgba(255, 255, 255, 0.78);
}

.btn-wrapper {
  position: absolute;
  text-align: center;
  top: 28%;
}

.btn-wrapper button {
  margin-bottom: 5px;
}

.btn-container {
  position: relative;
  min-height: 225px;
}

.btn {
    display: inline-block;
    height: 38px;
    padding: 0 10px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 38px;
    width: 120px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #555;
    cursor: pointer;
    box-sizing: border-box;
}

/*
******************
  Layout styles
*/

.mainnav {
  height: 50px;
  margin-bottom: 50px;
  background: #3a3f41;
  color: #fff;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.logo h1 {
  margin: auto;
  line-height: 50px;
  height: 50px;
  color: #fff;
  font-weight: 400;
}

.nav-section.right .nav-item {
  height: 50px;
  line-height: 50px;
}

.search-bar {
  width: 290px;
  color: #fff;
  background: rgb(41, 41, 41);
  border: 0;
  border-radius: 3px;
  height: 25px;
}

.search-bar {
  padding: 3px;
}

#cartcontainer {
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: bottom 0.2s;
}

#cartcontainer.hidecart {
  bottom: -160px;
}

#cartcontainer.showcart {
  bottom: 0px;
}

.cart-border {
  height: 40px;
  position: relative;
  background: rgb(41, 41, 41);
  cursor: pointer;
}

.inner-cart {
  height: 160px;
  background: #fff;
}
